---
layout: default
title: Articles
permalink: /articles/
---
<div class="pageBody">
  <h4 class="pageBody__tagline">Articles</h4>
  <hr>
  <div class="pageBody">
    {% for post in site.posts %}
      {% assign currentDate = post.date | date: "%B" %}

      {% if currentDate != myDate %}
        {% unless forloop.first %}</ul></div>{% endunless %}
        
        <div class="articleArchive">
        <h2 class="listTitle">{{ currentDate }}</h2>
        
        <ul class="list">
          {% assign myDate = currentDate %}
      {% endif %}
        
      <li>
        <a class="list__link" href="{{ post.url }}">{{ post.title }}</a>
        ({{ post.date | date: "%B %-d, %Y" }})
      </li>
      
      {% if forloop.last %}</ul></div>{% endif %}
    {% endfor %}
  </div>
</div>