<div class="HTMLDemo clearFix"  id="demo">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="/assets/scripts/angular-demo-app.js"></script>
	<script type="text/javascript" src="/assets/scripts/angular-demo-ctrl.js"></script>

	<header>
		<h1>Peeple Findr</h1>
		<small>All your creeping needs</small>
	</header>

	<div ng-app="demoApp" ng-controller="demoCtrl">
		<input ng-model="search">

		<div class="selectedBox l-selectedBox" ng-show="selected">
			<h2>About &mdash; 
				<span ng-bind="selected.fname"></span> <span ng-bind="selected.lname"></span>
			</h2>
			<p ng-bind="selected.bio"></p>
			<button ng-click="clearSelected()">Close</button>
		</div>

		<div ng-show="search">
		<p>People found matching <span ng-bind="search"></span></p>
			<table>
				<thead>
					<tr>
						<th class="tableHeader">First Name</th>
						<th class="tableHeader">Last Name</th>
					</tr>
				</thead>
				<tbody>
					<tr class="searchResult" 
						ng-class="{'selectedItem': $index == selectedResultIndex}" 
						ng-repeat="person in people | filter:search" 
						ng-click="selectPerson(person, $index)"
					>
						<td class="tableCell" ng-bind="person.fname"></td>
						<td class="tableCell" ng-bind="person.lname"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>