<div class="clip-text_one clip-text--cover clip-text">Some Examples</div>
<div class="l-outerContainer">
	<div class="exampleBlock">
		<div class="example">
			<h3 class="example__name">Lincoln Calling</h3>
			<p class="example__description">A custom WordPress theme developed with HTML, SASS, PHP, and JavaScript. Design built responsively and with ACF to make content management a breeze.</p>
			<div class="example__images">
				<img class="screenshot" src="/assets/images/ResponsiveHomePage.png">
				<img class="screenshot" src="/assets/images/ResponsiveArtistPage.png">
			</div>
		</div>
		<div class="example">
			<h3 class="example__name">Attendance Tracker</h3>
			<p class="example__description">Custom web application built with Ruby in Sinatra to automate the listing of tech meet-ups. Makes use of Meetups.com's API to cache events into a Postgres database.</p>
			<div class="example__images">
				<img class="screenshot" src="/assets/images/eaMockup.png">
			</div>
		</div>
	</div>