<div class="footerBg">
	<ol class="footer l-outerContainer l-nonNarrow">
		<li class="footer__item">
			<a href="/">Home</a>
		</li>
		<li class="footer__item">
			<a href="/about">About</a>
		</li>
		<li class="footer__item">
			<a href="/about/#contactInfo">Contact Information</a>
		</li>
		<li class="footer__item">
			<a href="/articles">Articles</a>
		</li>
		<li class="footer__item">
			<a href="#">Back to top</a>
		</li>
	</ol>

	<ol class="footer l-outerContainer l-narrow">
		<li class="footer__item">
			<a href="#">Back to top</a>
		</li>
		<li class="footer__item">
			<a href="/">Home</a>
			<a href="/about">About</a>
		</li>
		<li class="footer__item">
			<a href="/about/#contactInfo">Contact Info</a>
			<a href="/articles">Articles</a>
		</li>
	</ol>
</div>