<article class="headerBg">
  <div class="headerBg l-outerContainer">

    <div class="header l-header">
      <header class="headerInfo">
        <a href="#">
          <i class="headerInfo__hamburger l-mobile fa fa-bars" aria-hidden="true"></i>
        </a>
        <a href="/">
          <h1 class="headerInfo__title">{{ site.title }}</h1>
        </a>
        <h2 class="headerInfo__blurb">{{ site.blurb }}</h2>
      </header>

      <div class="headerLinksExternal l-headerLinksExternal l-desktop">
        <a class="headerLink l-fullCenter" 
          href="{{ site.twitter }}">
          <i class="fa fa-twitter l-fullCenter" aria-hidden="true"></i>
        </a>
        <a class="headerLink l-fullCenter" 
          href="{{ site.github }}">
          <i class="fa fa-github fa-lg" aria-hidden="true"></i>
        </a>
        <a class="headerLink l-fullCenter" 
          href= "{{ site.linkedin }}">
          <i class="fa fa-linkedin l-fullCenter" aria-hidden="true"></i>
        </a>
      </div>

      <div class="headerLinksInternal l-desktop">
        <a class="articlesLink" href="/articles/index.html">Articles</a>
        <a class="aboutLink" href="/about/index.html">About</a>
      </div>
    </div>
  </div>



</article>

<div class="dropNav l-mobile clearFix">
  <div class="headerLinksExternal l-headerLinksExternal navLeft">
    <a class="headerLink l-fullCenter" 
      href="{{ site.twitter }}">
      <i class="fa fa-twitter l-fullCenter" aria-hidden="true"></i>
    </a>
    <a class="headerLink l-fullCenter" 
      href="https://github.com/Lwyrup">
      <i class="fa fa-github fa-lg" aria-hidden="true"></i>
    </a>
    <a class="headerLink l-fullCenter" 
      href="{{ site.linkedin }}">
      <i class="fa fa-linkedin l-fullCenter" aria-hidden="true"></i>
    </a>
  </div>

  <div class="headerLinksInternal navRight">
    <a class="articlesLink" href="/articles/index.html">Articles</a>
    <a class="aboutLink" href="/about/index.html">About</a>
  </div>
</div>