<div class="header">
  <article>
    <header>
      <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
      <a href="/"><h1 class="header__title">{{ site.title }}</h1></a>
      <h2>{{ site.blurb }}</h2>
    </header>
    <div class="header_links">
      <div class="external">
        <a href="https://twitter.com/Ex_Spenceiv"><i class="fa fa-twitter" aria-hidden="false"></i></a>
        <a href="https://github.com/Lwyrup"><i class="fa fa-github fa-lg" aria-hidden="false"></i></a>
        <a href= "{{ "/feed.xml" }}" ><i class="fa fa-rss" aria-hidden="false"></i></a>
      </div>
      <div class="internal">
        <a href="/articles/index.html">Articles</a>
        <a href="/about/index.html">About</a>
      </div>
    </div>
  </article>
</div>