.article__title{
	font-size: 46px;
}

.article__date{
	color: $dark-gray;
	font-size: 20px;
}

.article__body{
	font-size: 24px;
	line-height: 1.5;
}

.article__body p{
	word-break: break-word;
}

.article__body h3{
	font-size: 34px;
	margin-top: 100px;
}

.article__title,
.article__body h3,
.article__body h4,
.article__body h5{
	font-weight: bold;
}

.article__body h4{
	font-size: 30px;
}

.article__body h5{
	font-size: 28px;
}

.article__body hr{
	margin: 118px 0px;
}

.article__title,
.article__date,
.article__body,
.article__body img,
.article__body p,
.article__body h4,
.article__body h5{
	margin: 30px 0px;
}

.article__title,
.article__date,
.article__body{
	font-family: $font-pri;
}