.preview__divider{
	margin: 60px 10px;
}

.preview__date{
	letter-spacing: 2px;
    font-size: 18px;
    display: block;
}

.previewLink{
	display: inline-block;
	color: $black;
	font-size: 40px;
	font-weight: bolder;
	padding: 26px 0px;
}

.previewLink:hover{
	color: $orange;
}

.preview__excerpt{
	font-size: 22px;
    line-height: 1.4;
}

.preview__date,
.preview__excerpt,
.previewLink{
	font-family: $font-pri;
}

.preview__date,
.preview__excerpt{
	color: $dark-gray;
}

.preview__excerpt img{
	width: 350px;
	float: left;
	margin: 10px 40px 10px 0px;
}

.preview__excerpt a{
	color: $eerie-black;
}

@media ( max-width: 700px ){
	.preview__excerpt img{
		width: 100%;
		float: none;
		margin: 12px 0px;
	}
}