.bio{
	border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 41px 16px;
}

.bio__blurb{
	font-size: 30px;
	font-family: $eb;
}

.bio__image{
	width: 250px;
	border-radius: 100%;
	margin-left: 30px;
}

@media (max-width: 700px){
	.bio__image{
		display: block;
		margin: auto;
		margin-top: 34px;
	}
}