.box__header{
	font-size: 30px;
	font-family: $eb;
	margin-bottom: 14px;
}

.box__body{
	font-family: $open_sans;
    font-size: 22px;
    font-weight: bolder;
    line-height: 1.4;
    letter-spacing: .04em;
}