.contact{
	border: 2px solid $light-gray;
	padding: 10px 22px;	
}

.contact__title{
	font-family: $eb;
	font-size: 30px;
	text-align: center;
	text-transform: capitalize;
}

.contact__info,
.contactLink{
	font-family: $open_sans;
	font-size: 22px;
	font-weight: bolder;
	line-height: 1.4;
	letter-spacing: .04em;
}

.contact__info,
.contact__title{
	margin: 16px 0px
}

.contactLink{
	border-bottom: 1px dashed;
	color: $dark-gray;
}

.contactLink:hover{
	color: #32c9de;
}

@media (min-width: 500px){
	.contact{
		width: 500px;
	}
}