.headerBg{
	@include linear-gradient( $orange, $light-orange, $orange );
	position: relative;
	z-index: 9999;
}

.header{
	position: relative;
	padding: 24px 0px;
}

.headerInfo__title,
.headerInfo__blurb,
.articlesLink,
.aboutLink{
	font-family: $font_sec;
}

.headerInfo__title{
	font-size: 46px;
}

.headerInfo__blurb{
	font-size: 23px;
	text-align: center;
    letter-spacing: 4px;
}

.headerLinksInternal,
.headerInfo__blurb{
	cursor: default;
}

.headerLinksInternal{
	font-size: 26px;
	line-height: 40px;
}

.headerLinksInternal a:hover{
	color: $white;
}

.aboutLink{
	margin-left: 10px;
}

.dropNav{
	@include linear-gradient( $gray, $light-gray, $gray );
    padding: 18px 24px;
    position: absolute;
    width: 100%;
    left: 0px;
    display: none;
    z-index: 9998;
}

.headerInfo__hamburger{
	position: absolute;
	right: 0px;
	font-size: 50px;
}

.headerInfo__hamburger,
.headerInfo__title,
.headerInfo__blurb,
.articlesLink,
.aboutLink{
	color: $black;
}

@media (max-width: 700px){
	.headerBg{
		background: $eerie-black;
	}

	.headerLinksInternal a:hover{
		color: $light-orange;
	}

	.headerInfo__hamburger{
		color: $dark-gray;
		font-size: 10vw;
	}

	.headerInfo__title{
		font-size: 8vw;
	}

	.headerInfo__blurb{
		font-size: 4vw;
		text-align: left;
		letter-spacing: 2px;
	}

	.headerInfo__title,
	.headerInfo__blurb{
		color: $white;
	}

	.dropNav{
	    padding: 10px;
	}
}