.outerNavbar{
	background-color: $eerie-black;
	padding: 16px 0px;
}

.navLink{
	margin: 0px 10px;
	color: $white;
	font-family: $open_sans;
	font-weight: bold;
	font-size: 18px;
}

.navLink:hover{
	color: $orange;
}