$white: #fff;

$pencil-gray: #F7F7F7;
$light-gray: #E9EAE8;
$gray: #DCDDDB;
$dark-gray: #A0A0A0;

$eerie-black: #1C181C;
$black: #000;

$orange: #FFA500;
$light-orange: #FFBC3F;

$light-green: #E8FFE2;

$light-blue: #32c9de;

$twitter-blue: #1DA1F2;
$linkedin-blue: #0077B5;
$github-gray: #333;