/* Cover letter */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color:#F3F8F2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.outerContainer{
	width: 1000px;
	margin: auto;
}

.outerContainer::after{
	content: "";
	clear: both;
	display: block;
}

.column-1, .column-2{
	width: calc(50% - 20px);
	margin: 0px 10px;
	float: left;
}

.box{
	margin: 40px 0px;
	background: linear-gradient( rgba(235,233,233,1), rgba(235,233,233,0) );
	border-top: 1px solid rgb(0,0,0)
}

.box__body, nav a{
	color: #6B6D68;
}

.box, .opener__body{
	padding: 30px;
	font-size: 22px;
	line-height: 1.5;
	font-family: 'Raleway', sans-serif;
}

.box__header{
	font-size: 26px;
	text-align: center;
	padding-bottom: 10px;
	font-family: 'PT Sans', sans-serif;
}

.opener__header{
	font-family: 'Oswald', sans-serif;
}

.opener{
	background: linear-gradient(#3581B8,#FCB07E,#FCB07E,#FCB07E);
}

.opener__header{
	font-size: 50px;
	text-align: center;
	padding: 80px 0px;
	color: white;
}

.opener__body::after{
	content: "";
	clear: both;
	display: block;
}

.opener__body p{
	width: calc(66.6666% - 20px);
	margin: 0px 10px;
	float: left;	
}
.imgContainer{
	width: calc(33.3333% - 20px);
	margin: 0px 10px;
	float: left;
	position: relative;
}

.imgContainer img{
	width: 100%;
	border: 4px double #DEE2D6;
}

nav, .opener{
	min-width: 1000px;
}

nav{
	background: linear-gradient(#F5F7F3,#DEE2D6,#C5CDB7);
	padding: 20px 0px;
	text-align: right;
}

nav a{
	font-family: 'Raleway', sans-serif;
	margin: 0px 20px;
	text-decoration: none;
}

nav a:hover{
	color: #2F72A2;
}