/* Box model fix*/
	html {
		box-sizing: border-box;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}
/**/

/* Universal css stylings */

.body{
	font-family: 'Open Sans Condensed', sans-serif;
	margin: 0px;
	padding: 0px;
}
.header__title{
    font-family: 'Bahiana', cursive;
    font-size: 30px;
    display: inline-block;
    margin: 0px;
    color: black;
}
.header > a{
	text-decoration: none;
}
.header h2{
	cursor: default;
	color: #949494;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 0px;
}
.body h3{
	letter-spacing: 2px;
}
.body hr{
	border-color: rgba(2, 2, 2, 0.14);
	clear: both;
}
.body a{
	color: #757575;
}
.body p, .body li, .body h4{
    letter-spacing: 0.03em;
    word-spacing: 0.1em;
}
.body li{
	padding-top: 3px;
}
.body ul{
	list-style-type: square; 
}
.container{
	margin: auto;
	padding: 30px 12px;
}
.header_links{
	cursor: default;
}
.header_links > div > a{
	text-decoration: none;
	margin: 0px 10px;
}
.external .fa-rss, .external .fa-twitter{
    background-color: #b5b1b1;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 2px;
    border-radius: 100%;
    color: #f1efef;
}
.external .fa-github{
	color: #b5b1b1;
	font-size: 24px;
}
.home_image{
	height: 240px;
	background-image: url("images/wheat.jpg");
	background-size: 100% auto;
	background-position: center;
}
.sub_text{
	color: #c5c5c5;
}
.article_preview > h3 > a{
	text-decoration: none;
	color:black;
}
.caption{
	font-style: italic;
	color: #c5c5c5;
	font-size: 14px;
	text-align: right;
}
.callout > span{
	font-weight: bolder;
	font-style: italic;
}
.callout{
	background-color: honeydew;
	margin: auto -8px;
	padding: 14px;
}
.article_body > p > img{
	width: 100%;
	padding: 20px 0px;
}
.article_body > h3{
	padding-top: 50px;
	font-size: 25px; 
}
.article_share{ 
	background-color: #f4f4f4;
	border-radius: 4px;
	margin: 32px auto;
	padding: 32px;
}
.article_share > p{
	margin: 0px;
}
.article_share > .fa-twitter{
	margin-right: 12px;
	float: left;
   	font-size: 26px;
   	color: #03a9f4;
}
.footnote{
	border: 1px solid #96b1b6;
	margin: auto 4px;
	padding: 0px 5px;
	border-radius: 100%;
	background-color: lightcyan;
}
.article_preview{
	padding-top: 24px; 
}
.article_preview img{
	width: 225px;
	float: left;
    border: 2px solid;
    padding: 8px;
    margin: 5px 10px;
}

/* Action selectors */

.external .fa-twitter:hover{
	background-color: #41b8f3;
}
.external .fa-github:hover{
	color: #000000;
}
.external .fa-rss:hover{
	background-color: #ff9d0b;
}
.internal > a:hover{
	color: #f19c33;
}
.article_preview:hover > h3 > a{
	color: #f19c33;
}

/* markdown syntax coloring */

.cp, .nt, .m, .mi, .k { color: red; }
.na, .nf{ color: #00c256; }
.s, .s2 { color: #caca6b; }
.nl, .no, .nb, .kd{ color: #23bbff; }
.c1 { color: darkgray; }

.highlight { 
	background-color: whitesmoke;
	overflow-x: scroll;
	padding: 20px;
	border: 1px solid lightgray;
	border-radius: 6px;
	margin: 40px auto;
}

/* When viewed on a screen less than 570px */

@media screen and (max-width: 569px){
	.body header{
		position: relative;
		z-index: 2;
		padding: 15px;
		background-color: #404040;
	}
	.body h1{
		letter-spacing: 0px !important;
		color: white !important;
	}
	.header_links{
		position: absolute;
		top: -10px;
		width: 100%;
		z-index: 1;
		background-color: #f1efef;
		box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
		display: flex;
	    justify-content: space-between;
	    align-items: baseline;
	    padding: 23px 4px;
	    clear: both;
	    transition: top 0.5s;
	}
	.home_image{
		height: 180px;
		background-position: center;
		background-size: 569px;
	}
	.fa-bars{
		float: right;
		margin: 14px 10px;
		font-size: 27px;
		-webkit-transform: scale(1.3,1.1);
	}
	.fa-bars:hover{
		color: white;
	}
	.internal{
		float: right;
	}
	.external{
		float: left;
	}
	.article_preview img{
		width: 170px;
	    padding: 4px;
	}
	.article_share > p{
		text-align: center;
	}
}




/* When viewed on a screen greater than 569px wide */

@media screen and (min-width: 570px) {
	.body article{
		width: 650px;
		margin: auto;
		display: flex;
		align-items: center;
		padding: 10px 18px;
		background-color: #f1efef;
	}
	.body h1{
	    letter-spacing: 3px;
	}
	.header{
		background-color: #f1efef;
	    
	}
	.body header{
		width: 33.3%;
	}
	.container{
		width: 650px;
	}
	.home_image{
		min-width: 650px;
	}
	.body h4{
		letter-spacing: 4px;
		text-align: center;
	}
	.header_links{
		display: flex;
		justify-content: space-between;
		width: 66.6%;
	}
	.external, .internal{
		width: 50%;
		text-align: center;
	}
	.internal{
		text-align: right;
	}
	.fa-bars{
		display: none;
	}
}