---
layout: default
---
<div class="pageBody">

	<div class="article">

		<h2 class="article__title">{{ page.title }}</h2>
		<p class="article__date">{{ page.date | date: "%b %-d, %Y" }}</p>

		<div class="article__body">
			{{ content }}
		</div>

		<div class="article__share l-article__share">
			<i class="fa fa-twitter" aria-hidden="true"></i>
			<p>If you liked this article and think others should read it, please 
			<a target="_blank" href="http://twitter.com/share?url={{ page.url | absolute_url }}">share it on Twitter</a>.</p>
		</div>
	</div>

</div>