---
layout: default
---
<div class="article">
	<div class="article_head">
		<h2>{{ page.title }}</h2>

		<p class="sub_text">{{ page.date | date: "%b %-d, %Y" }}</p class="sub_text">
	</div>

	<div class="article_body">
		{{ content }}
	</div>

<div class="article_share">
	<i class="fa fa-twitter" aria-hidden="true"></i>
	<p>If you liked this article and think others should read it, please 
	<a href="http://twitter.com/share?url={{ page.url | absolute_url }}">share it on Twitter</a>.</p>
</div>

</div>